<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>问答详情</title>
<link href="__PUBLIC__/home/css/questions.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/home/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/home/css/contentright.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="header">
	<div class="mybody">
    	<a href="#"><img src="__PUBLIC__/home/images/logo.jpg" alt="logo" /></a>
        <div class="login">
        	<a href="#">登陆</a> | <a href="#">注册</a>
        </div>
         <ul class="nav">
            <li><a href="{:U('Home/index/index')}">首页</a></li>
            <li class="navnow"><a href="{:U('Home/learnansq/index')}">学霸问答</a></li>
            <li><a href="{:U('Home/book/index')}">课本点读</a></li>
            <li><a href="{:U('Home/video/index')}">视频讲解</a></li>
            <li><a href="{:U('Home/tests/index')}">学霸试卷</a></li>
            <li><a href="{:U('Home/personal/index')}">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="ad">
	<div class="mybody">
    	<img src="__PUBLIC__/home/images/ad.jpg" width="1200" height="100" alt="ad" />
    </div>
</div>
<div class="content">
<div class="mybody">
	<div class="bread"><span>学霸养成</span> > <a href="#">学霸问答</a> > <a href="#">问答详情</a></div>
    <div class="right">
    	<div class="righttop">
        	<h1 class="title title2">我的问答<a href="#" class="ckgd"></a></h1>
            <div class="xzdr">
       	    	<img src="__PUBLIC__/{$listss.head_picture}" width="150" height="190" alt="dr" class="xzdrimg"/>
                <div class="xzright">
                <div class="drname">
                <h1>{$listss.user_username}</h1>
                <span>
                <?php
                $str1 = $listss['score'];
                $str2 = $str1/100;
                echo LV.intval($str2);
                ?>
                </span>
                </div>
                <a href="#"><h3 class="tw">我的提问：{$listss.ask_count}</h3></a>
                <a href="#"><h3 class="hd2">我的回答：{$listss.reply_count}</h3></a>
                </div>
            </div>
      </div>
    	<div class="righttop righttop2">
        	<h1 class="title">热门问题<a href="#" class="ckgd">更多&nbsp;>></a></h1>
            <ul class="topul">
            <volist name="llist" id="data">
               <li><a href="{:U('Home/personal/hotquedetails')}/qid/{$data.que_id}">{$data.content}</a><span><?php $str = $data['publish']; echo substr($str,5,5); ?></span></li>
            </volist>
            
        </ul>
        </div>
    </div>
    <div class="left">
	  <div class="question">
      <div class="qtop">
        	<h1><span>问题：</span>{$list.title}</h1>
            <p>{$list.content}</p>
       </div>
            <div class="fl">
        	<div class="ssfl"><img src="__PUBLIC__/home/images/ssfl.gif" width="15" height="15" alt="ssfl" /><span>分类：{$list.pag}</span></div>
            <div class="ssfl ssfl2"><img src="__PUBLIC__/home/images/sj.gif" width="15" height="15" alt="sj" /><span>时间：{$list.publish} </span></div>
            <div class="ssfl ssfl2"><img src="__PUBLIC__/home/images/twz.gif" width="15" height="15" alt="zz" /><span>提问者：{$list.que_username}</span></div>
            <div class="ssfl ssfl2"><img src="__PUBLIC__/home/images/scan.gif" width="15" height="15" alt="zz" /><span>{$list.que_view}人看过</span></div>
        </div>
        </div>
        <ul class="contentul">
        <li>
            <h3>我要回答：</h3>
                <form action="{:U('Home/personal/doansAdd')}" method="post">
                    <textarea placeholder="请输入回答内容" name="content" id="content" class="text"></textarea>
                    <input type="submit" value="提交" class="answerbtn" />
                </form>
        </li>
        <volist name="lists" id="data">
        	<li>
            	<div class="lileft">
           	    <img src="__PUBLIC__/home/images/head.gif" width="80" height="80" alt="head" />
                </div>
                <div class="liright">
                	<div class="rtop">
                    	<h3>姓名：{$data.ans_username}</h3>
                        <span class="level">
                        <?php
                        $str1 = $data['user_score'];
                        $str2 = $str1/100;
                        echo LV.intval($str2);
                        ?>
                        </span>
                        
                    </div>
                    <div class="rtop">
                    	<div class="hd">
                    	<h3>回答：</h3>
                        </div>
                        <div class="hdp">
                        <p>{$data.ans_content}</p>
                        </div>
                    </div>
                    <div class="ssfl ssfl2 ssflul"><img src="__PUBLIC__/home/images/sj.gif" width="15" height="15" alt="sj" /><span>时间：{$data.ans_publish}</span></div>
                    
                    <div class="ssfl ssfl2 ssflul" id="zan"><img src="images/dz.png" width="15" height="15" alt="sj" id="zanimg"/>
                    <span id="zanshu">3赞</span></div>

                    
                </div>
            </li>
        </volist>   
        </ul>
        <div class="page">
            	{$page}
    </div>
    </div>
    
</div>
</div>
</div>
<div class="footer">
	<div class="mybody">
    <p>版权所有：河北师范大学软件学院 永信指导小组 地址：石家庄市南二环东路20号 冀ICP备字201401号</p>
    </div>
</div>
</body>
<script>
    var zan=document.getElementById("zan");
    var zanimg=document.getElementById("zanimg");
    var zanshu=document.getElementById("zanshu");
    var zanimgsrc=zanimg.src;
    zan.onclick=function(){
        zanimg.src="__PUBLIC__/home/images/dzh.png";
        zanshu.style.color="#2f8abb";
        }
</script>
</html>
