<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学霸养成</title>
<link href="__PUBLIC__/home/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/home/css/person.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="header">
	<div class="mybody">
    	<a href="#"><img src="__PUBLIC__/home/images/logo.jpg" alt="logo" /></a>
        <div class="login">
        	欢迎你&nbsp;{$_SESSION['user_username']}&nbsp;&nbsp;<a href="__MODULE__/users/logout">退出</a>
        </div>

        <ul class="nav">
        	<li ><a href="首页.html">首页</a></li>
            <li><a href="">学霸问答</a></li>
            <li><a href="课本点读.html">课本点读</a></li>
            <li><a href="视频讲解.html">视频讲解</a></li>
            <li><a href="学霸试卷.html">学霸试卷</a></li>
            <li class="navnow"><a href="{:U('index')}">个人中心</a></li>
        </ul>
    </div>
</div>
<div class="ad">
	<div class="mybody">
    	<img src="__PUBLIC__/home/images/ad.jpg" width="1200" height="100" alt="ad" />
    </div>
</div>

<div class="content">
	<div class="mybody">
    	<div class="bread"><span>您现在的位置：</span><a href="首页.html">首页</a> > <a href="#">个人中心</a></div>
		<!--个人中心left-->
        <div class="personal_left">
        	<div class="user">
            	<a href="#"><img src="__PUBLIC__/home/images/user_c.jpg" width="157" height="157" alt="user" /></a>
                <p>{$user['user_username']}</p>
            </div>
            <ul class="left_nav">
            		<li class="left_nav_now"><a href="">首页</a></li>
                	<li><a href="{:U('Home/personal/myquestions')}">我的问题</a></li>
                    <li><a href="{:U('Home/personal/myanswers')}">我的回答</a></li>
                    <li><a href="{:U('Home/personal/myvideos')}">视频收藏</a></li>
                    <li><a href="{:U('Home/personal/mytests')}">试卷收藏</a></li>
                    <li><a href="{:U('Home/personal/myself')}">个人管理</a></li>
                    
                    <li><a href="{:U('Home/personal/certeacher')}">教师认证</a></li>
			</ul>    	
        </div>
        <!--个人中心right-->
        <div class="personal_form_right">
        	<h1>我的积分<span> My points</span></h1>
            <div class="exper"><img src="__PUBLIC__/home/images/jdt.png" alt="exper" /></div>
            <div class="exper1 form_bg">
            	<h1>个人信息</h1>
                <ul>
                	<li>姓名<span>{$user['user_username']}</span></li>
                    <li>电话<span>{$user['user_phone']}</span></li>
                    <li>学习阶段<span>{$user['user_stage']}</span></li>
                    <li>是否教师<span>{$user['user_judge']}</span></li>
                </ul>
			</div>
            <div class="exper1 exper2 form_bg">
            	<h1>个人介绍</h1>
                <ul>
                    <li class="garyli">{$user['user_introduce']}</li>
                </ul>
			</div>
        </div>
	</div>
</div>

<div class="footer">
	<div class="mybody">
    <p>版权所有：河北师范大学软件学院 永信指导小组 地址：石家庄市南二环东路20号 冀ICP备字201401号</p>
    </div>
</div>
</body>
</html>
