<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学霸养成</title>
<link href="__PUBLIC__/home/css/public.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/home/css/viewlist.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/home/css/person.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="header">
    <div class="mybody">
        <div class="logo"><a href="#"><img src="__PUBLIC__/home/images/logo.jpg" alt="logo" /></a></div>
        <ul class="nav">
            <li><a href="{:U('Home/index/index')}">首页</a></li>
            <li><a href="{:U('Home/learnansq/index')}">学霸问答</a></li>
            <li><a href="{:U('Home/book/index')}">课本点读</a></li>
            <li><a href="{:U('Home/video/index')}">视频讲解</a></li>
            <li><a href="{:U('Home/tests/index')}">学霸试卷</a></li>
            <li class="navnow"><a href="{:U('Home/personal/index')}">个人中心</a></li>
        </ul>
        <div class="login">
            <?php
                if(!isset($_SESSION['user_username'])||$_SESSION['user_username']==''){ 
                    echo "<a href='".U('users/login')."'>登录</a> | <a href='".U('users/register')."'>注册</a>";
                }
                else{   
                    echo $_SESSION['user_username']."&nbsp;&nbsp;<a href='__MODULE__/users/logout'>退出</a>";
                }

            ?>
        </div>
    </div>
</div>
<div class="ad">
	<div class="mybody">
    	<img src="__PUBLIC__/home/images/ad.jpg" width="1200" height="100" alt="ad" />
    </div>
</div>
<div class="content">
<div class="mybody">
    	<div class="content_con">
        	<div class="bread"><span>您现在的位置</span> > <a href="{:U('Home/personal/index')}">首页</a> > <a href="#">个人中心</a> > <a href="#">试卷收藏</a></div>
    	  	<div class="personal_left">
            <div class="user">
                <a href="#"><img src="__PUBLIC__/{$user['head_picture']}" width="157" height="157" alt="user" /></a>
                <p>{$_SESSION['user_username']}</p>
            </div>
            <ul class="left_nav">
                    <li><a href="{:U('Home/personal/index')}">首页</a></li>
                    <li><a href="{:U('Home/personal/myquestions')}">我的问题</a></li>
                    <li><a href="{:U('Home/personal/myanswers')}">我的回答</a></li>
                    <li><a href="{:U('Home/personal/myvideos')}">视频收藏</a></li>
                    <li class="left_nav_now"><a href="{:U('Home/personal/mytests')}">试卷收藏</a></li>
                    <li><a href="{:U('Home/personal/myself')}">个人管理</a></li>
                    
                    <li><a href="{:U('Home/personal/certeacher')}">教师认证</a></li>
            </ul>    
        </div>
        </div>
        <div class="right">
            	<h1 class="head">试卷收藏 <span>All textpaper</span></h1>
                <div class="right_con">
                	<volist name="list" id="data">
                        <div class="video2">
                                <div class="vimg">
                                <a href="{:U('home/tests/testdetails')}/id/{$data.test_id}"><img src="__PUBLIC__{$data.test_cover}" width="210" height="150" alt="" /></a>
                                </div>

                                <p><a href="{:U('home/tests/testdetails')}/id/{$data.test_id}">{$data.test_title}</a></p>
                        </div>
                    </volist>
                    
                    
					  <div class="page">
                    	<ul>
                        	{$page}
                        </ul>
                    </div>
                </div>
      </div>
    </div>
</div>
    
</div>
</div>
</div>
<div class="footer">
	<div class="mybody">
    <p>版权所有：河北师范大学软件学院 永信指导小组 地址：石家庄市南二环东路20号 冀ICP备字201401号</p>
    </div>
</div>
</body>
</html>
