<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>学霸养成</title>
    <link href="__PUBLIC__/home/css/public.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/home/css/viewlist.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/home/css/view.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="header">
    <div class="mybody">
        <div class="logo"><a href="#"><img src="__PUBLIC__/home/images/logo.jpg" alt="logo" /></a></div>
        <ul class="nav">
            <li><a href="{:U('Home/index/index')}">首页</a></li>
            <li><a href="{:U('Home/learnansq/index')}">学霸问答</a></li>
            <li><a href="{:U('Home/book/index')}">课本点读</a></li>
            <li class="navnow"><a href="{:U('Home/video/index')}">视频讲解</a></li>
            <li><a href="{:U('Home/tests/index')}">学霸试卷</a></li>
            <li><a href="{:U('Home/personal/index')}">个人中心</a></li>
        </ul>
        <div class="login">
            <?php
                if(!isset($_SESSION['user_username'])||$_SESSION['user_username']==''){
                    echo "<a href='".U('users/login')."'>登录</a> | <a href='".U('users/register')."'>注册</a>";
            }
            else{
            $str = $_SESSION['user_username'];
            if(strlen($str)>6){

            echo "<a href='".U('personal/myself')."'>".mb_substr($str,0,6,'utf-8')."..."."</a>"."&nbsp;&nbsp;<a href='__MODULE__/users/logout'>退出</a>";
            }
            else{

            echo "<a href='".U('personal/myself')."'>".$str."</a>"."&nbsp;&nbsp;<a href='__MODULE__/users/logout'>退出</a>";
            }


            }

            ?>
        </div>
    </div>
</div>
<div class="ad">
    <div class="mybody">
        <img src="__PUBLIC__/home/images/ad.jpg" width="1200" height="100" alt="ad" />
    </div>
</div>
<div class="content">
    <div class="mybody">
        <div class="content_con">
            <div class="bread"><span>您现在的位置</span> > <a href="{:U('home/index/index')}">首页</a> > <a href="{:U('home/video/index')}">视频讲解</a></div>
            <div class="left">
                <h1>热点视频 <span>hot videoes</span></h1>
                <ul class="lul">
                    <ul class="lul">
                        <volist name="hot" id="hot">
                            <if condition="($key eq 0 )">
                                <li>
                                    <span class="lulspan">{$key+1}</span>
                                    <div class="lfirst">
                                        <img src="__PUBLIC__/{$hot.video_img}" width="88" height="59" alt="rd" />
                                        <div class="lfright">
                                            <h2><a href="{:U('home/video/detail')}/id/{$hot.video_id}" target="_blank">{$hot.video_title}</a></h2>
                                            <h3>播放次数：{$hot.video_count}</h3>
                                        </div>
                                    </div>
                                </li>
                            </if>
                            <if condition="($key eq 1) OR ($key eq 2)">
                                <li>
                                    <h2>{$key+1}&nbsp;<a href="{:U('home/video/detail')}/id/{$hot.video_id}" target="_blank">{$hot.video_title}</a></h2>
                                </li>
                            </if>
                            <if condition="($key gt 2) AND ($key lt 9)">
                                <li class="tit2">
                                    <h2>{$key+1}&nbsp;<a href="{:U('home/video/detail')}/id/{$hot.video_id}" target="_blank">{$hot.video_title}</a></h2>
                                </li>
                            </if>
                        </volist>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="right">
            <h1 class="head">视频详情 <span>All video</span></h1>
            <volist name="video" id="video">
                <div class="right_con">
                    <h1 class="bt">{$video.video_title}</h1>
                    <div class="fl">
                        <div class="ssfl"><img src="__PUBLIC__/home/images/ssfl.gif" width="15" height="15" alt="ssfl" /><span>所属分类：{$video.video_type}</span></div>
                        <div class="ssfl ssfl2"><img src="__PUBLIC__/home/images/sj.gif" width="15" height="15" alt="sj" /><span>时间：{$video.video_publish}</span></div>
                        <div class="sc" id="sc">
                            <a href="{:U('home/video/collect')}/id/{$_SESSION['videoID']}"><img src="__PUBLIC__/home/images/sc.gif" width="12" height="12" alt="sc" id="scimg"/></a><span id="scspan">收藏</span>
                        </div>
                    </div>
                    <p>{$video.video_content}</p>
                    <video src="__PUBLIC__/{$video.video}" controls="controls"></video>
                </div>
            </volist>
            <div class="last">
                【上一个】: <a href="__MODULE__/video/detail/id/{$front.video_id}">{$front.video_title}</a><br />
                【下一个】: <a href="__MODULE__/video/detail/id/{$next.video_id}">{$next.video_title}</a>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
<div class="footer">
    <div class="mybody">
        <p>版权所有：河北师范大学软件学院 永信指导小组 地址：石家庄市南二环东路20号 冀ICP备字201401号</p>
    </div>
</div>
<script>
    var sc=document.getElementById("sc");
    var scimg=document.getElementById("scimg");
    var span=document.getElementById("scspan");
    sc.onclick=function(){
        scimg.src="__PUBLIC__/home/images/sch.png";
        span.innerHTML="已收藏";
        span.style.color="#2f8abb";
    }
</script>
</body>
</html>
